@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@500&display=swap');

body{
    background-color: rgba(0, 0, 0,0.8);
    font-family: 'Cormorant Upright', serif;
}

/* header */
.header {
    padding: 120px;
    text-align: center;
    color: white;
    font-size: 30px;

    background: #ad5389;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #ad5389, #3c1053);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #ad5389, #3c1053); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }


.custom-shape-divider-top-1614400042 {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-top: -5px;
}

.custom-shape-divider-top-1614400042 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 124px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1614400042 .shape-fill {
    fill: #ad5389;
}

.title{
    font-family: 'Monoton', cursive;
    text-align: center;
    color: #fff;
    animation: glow 1s ease-in-out infinite alternate;
    padding-bottom: 150px;
    margin-top: -100px;
}
.header p{
    color: #fff;
    padding-bottom: 150px;
    margin-top: -140px;
    font-size: 17px;
}
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
/* header ends */
